{% extends 'adminuser/person_page.html' %}
{% block title %}工程处理{% endblock %}
{% block person_home_content %}
    <style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
        <h1 class="page-header"><small>工程查看</small></h1>
     <table class="gridtable" cellpadding="0" cellspacing="0" >
 <input style="display: none" id="order_id" value={{ project.Order_ID }} > </input>
                    <thead>
                    <tr>
                        <th>文件名</th>
                        <th>上传时间</th>
                        <th>操作</th>
                    </tr>
                    {% for foo in file %}
                    <tr>
                        <td>{{foo.directory}}</td>
                        <td>{{foo.upload_time|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a href="/download/{{ project.user.username}}/{{ foo.directory}}"  download={{ foo.directory}}>下载</a>
                        </td>

                    </tr>
                    {% endfor %}
                    </thead>
     </table>
<br> </br>
    <label>备注：</label>
    {{ project.remark }}
<br> </br>
    <br> </br>

    <label>肝实质：</label>
    <div class="demo-box">
    <input id="file_upload2" type="file" name="Filedata">
    <div id="file_uploadQueue" class="uploadifyQueue"></div>
     <a href="javascript:$('#file_upload2').uploadify('upload','*')">上传</a>
    <p><span id="id_span_msg"></span></p>
            </div>
    <label>动脉：</label>
    <div class="demo-box">
    <input id="file_upload3" type="file" name="Filedata">
    <div id="file_uploadQueue" class="uploadifyQueue"></div>
     <a href="javascript:$('#file_upload3').uploadify('upload','*')">上传</a>
    <p><span id="id_span_msg"></span></p>
            </div>
    <label>静脉：</label>
    <div class="demo-box">
    <input id="file_upload4" type="file" name="Filedata">
    <div id="file_uploadQueue" class="uploadifyQueue"></div>
     <a href="javascript:$('#file_upload4').uploadify('upload','*')">上传</a>
    <p><span id="id_span_msg"></span></p>
            </div>
    <label>门脉：</label>
    <div class="demo-box">
    <input id="file_upload5" type="file" name="Filedata">
    <div id="file_uploadQueue" class="uploadifyQueue"></div>
     <a href="javascript:$('#file_upload5').uploadify('upload','*')">上传</a>
    <p><span id="id_span_msg"></span></p>
            </div>
    <label>肿瘤：</label>
    <div class="demo-box">
    <input id="file_upload6" type="file" name="Filedata">
    <div id="file_uploadQueue" class="uploadifyQueue"></div>
     <a href="javascript:$('#file_upload6').uploadify('upload','*')">上传</a>
    <p><span id="id_span_msg"></span></p>
            </div>
    <label>下腔：</label>
    <div class="demo-box">
    <input id="file_upload7" type="file" name="Filedata">
    <div id="file_uploadQueue" class="uploadifyQueue"></div>
     <a href="javascript:$('#file_upload7').uploadify('upload','*')">上传</a>
    <p><span id="id_span_msg"></span></p>
            </div>

    <div class="form-group">
            <div  class="form-group-left">
              <button type="submit" class="btn btn-large btn-primary" onclick="javascript:complete_project({{ project.Order_ID }})">完成项目</button>
              </div>
          </div>
       <script>
       function complete_project(order_id) {
             location.href = "/complete_project?order_id="+order_id;
      }

</script>
{% endblock %}